######################################################################################
## export everything (in development mode)
######################################################################################

exportPattern(".*")


######################################################################################
## our methods
######################################################################################

S3method(as.character, biom)
S3method(as.matrix, biom)
S3method(dim, biom)
S3method(dimnames, biom)
# S3method(length, biom)
S3method(print, biom)
S3method(str, biom)
S3method(summary, biom)
S3method(biom, list)
S3method(biom, matrix)
S3method(biom, character)

######################################################################################
## to save loading time, we don't do this:
######################################################################################

# importFrom(RJSONIO, fromJSON, toJSON)
